.description {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description h2 {
    margin: 0;
    color:#FF6060;
    font-size: 30px;
    font-weight: 600;
}
.location {
    margin: 0;
    color: #FF6060;
    margin-bottom: 12px;
    margin-top: 8px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.tags {
    display: flex;
    gap: 10px;
}
.tags p{
    background-color:#FF6060;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: 500;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
}
.descriptionBlock {
    display: flex;
    justify-content: space-between;
}
/*Mobile version*/
@media (max-width: 767px) {
    .descriptionBlock {
        flex-wrap: wrap;
    }
    .description h2 {
        font-size: 17px;
        font-weight: 500;
    }
    .location {
        font-size: 15px;
        margin-bottom: 2px;
    }
    .tags p {
        font-size: 10px;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
        height: 15px;
    }
    .description {
        margin-bottom: 0;
    }

}