header {
    display:flex;
    justify-content: space-between;
    height: 10%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 45px;
}
.logo {
    width: 230px;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.logo img:nth-child(1) {
    width: 54px;
    height: 62px;
  }
.logo img:nth-child(2) {
    width: 46px;
    height: 53px;
    padding-top: 15px;
}
.logo img:nth-child(3) {
    width: 40px;
    padding-top: 15px;
    height: 48px;
}
.logo img:nth-child(4) {
    width: 18%;
    height: 68%;
    padding-top: 16px;
}
nav {
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
nav a:nth-child(1) {
    color: #ff6060;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
nav a:nth-child(2) {
    color: #ff6060;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
  }
nav a:nth-child(1):hover {
    text-decoration: underline;
}
nav a:nth-child(2):hover {
    text-decoration: underline;
}
nav a.active {
  text-decoration: underline;
}