.container p{
    background-color: #F7F7F7;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-radius: 25px;
    height: 100%;
}
/*Mobile version*/
@media (max-width: 767px) {
    .container p{
        background-color: white;
    }
}