.errorContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.errorContainer h1 {
    color: #FF6060;
    font-size: 288px;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 139px;
}
.errorContainer p {
    color: #FF6060;
    font-size: 36px;
    margin: 0;
    margin-bottom: 139px;
}
.errorLink {
    text-decoration: none;
    margin: 0;
    margin-bottom: 139px;
    color: #FF6060;
    font-size: 18px;
}
.errorContainer :link:hover {
    text-decoration: underline;
}
/*Mobile version*/
@media (max-width: 767px) {
    .errorContainer {

    }
    .errorContainer h1 {
        font-size: 100px;
        margin: 0;
        margin-top: 140px;
        margin-bottom: 10px;
    }
    .errorContainer p {
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        text-align: center;
        margin-left: 58px;
        margin-right: 58px;
        margin-bottom: 130px;
    }
    .errorLink {
        font-weight: 500;
        margin: 0;
        font-size: 12px;
        margin-bottom: 120px;
    }
    .errorContainer :link:hover {
        text-decoration: underline;
    }
}